
@import '../../shared-styles/variables';

.header {
  text-align: center;
}

.nav {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}


.navItem {
  display: inline-block;
  padding: 10px;
}

.link {
  color: #00a68f;
  font-size: 18px;
}
